<div class="container">
  <h2>Package Tracker</h2>
  <form (ngSubmit)="trackPackage()">
    <div>
      <label>Enter Package ID:</label>
      <input [(ngModel)]="packageId" name="packageId" required>
      <button type="submit">Track</button>
    </div>
  </form>

  <div *ngIf="packageDetails">
    <h3>Package Details</h3>
    <p>Package ID: {{ packageDetails.package_id }}</p>
    <p>Description: {{ packageDetails.description }}</p>
    <p>Weight: {{ packageDetails.weight }}</p>
  </div>

  <div *ngIf="deliveryDetails">
    <h3>Delivery Details</h3>
    <p>Delivery ID: {{ deliveryDetails.delivery_id }}</p>
    <p>Status: {{ deliveryDetails.status }}</p>
    <p>Source Location: {{ packageDetails.from_address }} - Lat {{ packageDetails.from_location?.lat }}, Lng {{ packageDetails.from_location?.lng }}</p>
    <p>Destination Location: {{ packageDetails.to_address }} - Lat {{ packageDetails.to_location?.lat }}, Lng {{ packageDetails.to_location?.lng }}</p>
    <p>Current Location: Lat {{ deliveryDetails.location?.lat }}, Lng {{ deliveryDetails.location?.lng }}</p>
  </div>


  <div>
    <h3></h3>
    <div id="map" style="height: 500px; width: 100%;"></div>
  </div>
</div>